$image: url('../../images/Background.png');
.carousel {
  margin-top: 80px;
  height: 546px;
  background-image: $image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
    padding: 290px 0 0 255px;
    color: white;
  }
  &__title {
    font-size: 32px;
    line-height: 44px;
  }
  &__text {
    font-size: 16px;
    margin-top: 24px;
    width: 453px;
    line-height: 22px;
  }
  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 77px;
  }
  &__dot {
    margin-right: 4px;
    list-style: none;
  }
}
