$image: url('../../images/Background.png');
.carousel {
  height: 546px;
  &__slide {
    background-image: $image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__container {
    padding: 290px 0 0 255px;
    color: white;
  }
  &__title {
    font-size: 32px;
    line-height: 44px;
  }
  &__text {
    font-size: 16px;
    margin-top: 24px;
    width: 453px;
    line-height: 22px;
  }
  &__dots {
    display: flex;
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    justify-content: center;
  }
  &__dot {
    margin-right: 4px;
    list-style: none;
  }
}
@media screen and (max-width: 1023px) {
  .carousel__container {
    padding: 200px 0 0 80px;
  }
}
@media screen and (max-width: 767px) {
  .carousel {
    height: 280px;
    &__container {
      display: flex;
      flex-direction: column;
      padding: 0;
      min-width: 320px;
      max-width: 400px;
      margin: 0 auto ;
      padding: 90px 0 0 15px;
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
    }
    &__text {
      font-size: 14px;
      margin-top: 12px;
      line-height: 19px;
      width: 100%
    }
  }
}
.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
 color: white;
}

