.header {
  height: 80px;
  background-color: white;
  z-index: 2;
  &__container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  min-width: 320px;
  max-width: 983px;
  margin: 0 auto;
  padding: 24px 15px 24px;
  }
  &__contacts {
  display: flex;
  align-items: center;
  }
  &__phone {
    margin-right: 44px;
  }
  &__phone-mobile {
    background-image: url('../../images/tele.svg');
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__email-mobile {
    background-image: url('../../images/mail.svg');
    width: 28px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.stickyHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%
}
@media screen and (max-width: 767px) {
  .header {
    height: 56px;

  &__img {
    width: 60px;
    height: 32px;
  }
  &__container {
    padding: 12px 15px;
  }
  &__tele-mobile {
    margin-right: 16px;
  }
  }
}

